<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>province</key>
	<array>
		<dict>
			<key>110000</key>
			<string>北京市</string>
		</dict>
		<dict>
			<key>120000</key>
			<string>天津市</string>
		</dict>
		<dict>
			<key>130000</key>
			<string>河北省</string>
		</dict>
		<dict>
			<key>140000</key>
			<string>山西省</string>
		</dict>
		<dict>
			<key>150000</key>
			<string>内蒙古</string>
		</dict>
		<dict>
			<key>210000</key>
			<string>辽宁省</string>
		</dict>
		<dict>
			<key>220000</key>
			<string>吉林省</string>
		</dict>
		<dict>
			<key>230000</key>
			<string>黑龙江</string>
		</dict>
		<dict>
			<key>310000</key>
			<string>上海市</string>
		</dict>
		<dict>
			<key>320000</key>
			<string>江苏省</string>
		</dict>
		<dict>
			<key>330000</key>
			<string>浙江省</string>
		</dict>
		<dict>
			<key>340000</key>
			<string>安徽省</string>
		</dict>
		<dict>
			<key>350000</key>
			<string>福建省</string>
		</dict>
		<dict>
			<key>360000</key>
			<string>江西省</string>
		</dict>
		<dict>
			<key>370000</key>
			<string>山东省</string>
		</dict>
		<dict>
			<key>410000</key>
			<string>河南省</string>
		</dict>
		<dict>
			<key>420000</key>
			<string>湖北省</string>
		</dict>
		<dict>
			<key>430000</key>
			<string>湖南省</string>
		</dict>
		<dict>
			<key>440000</key>
			<string>广东省</string>
		</dict>
		<dict>
			<key>450000</key>
			<string>广西</string>
		</dict>
		<dict>
			<key>460000</key>
			<string>海南省</string>
		</dict>
		<dict>
			<key>500000</key>
			<string>重庆市</string>
		</dict>
		<dict>
			<key>510000</key>
			<string>四川省</string>
		</dict>
		<dict>
			<key>520000</key>
			<string>贵州省</string>
		</dict>
		<dict>
			<key>530000</key>
			<string>云南省</string>
		</dict>
		<dict>
			<key>540000</key>
			<string>西藏</string>
		</dict>
		<dict>
			<key>610000</key>
			<string>陕西省</string>
		</dict>
		<dict>
			<key>620000</key>
			<string>甘肃省</string>
		</dict>
		<dict>
			<key>630000</key>
			<string>青海省</string>
		</dict>
		<dict>
			<key>640000</key>
			<string>宁夏</string>
		</dict>
		<dict>
			<key>650000</key>
			<string>新疆</string>
		</dict>
		<dict>
			<key>710000</key>
			<string>台湾省</string>
		</dict>
		<dict>
			<key>810000</key>
			<string>香港</string>
		</dict>
		<dict>
			<key>820000</key>
			<string>澳门</string>
		</dict>
	</array>
</dict>
</plist>
