<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uzise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B625AD216306F9C00F7B267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B959656160413C50036CD0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE077F31538542D00EDC15C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BE078281538542E00EDC15C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
